body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
	position: relative;
	outline:2px solid #000;
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	margin:auto;
	min-height:960px;
	max-width:960px;
	overflow:hidden;
	
}

.grid {
	outline:1px solid #000;
	background: white;
	flex-grow: 1;
}

.playAgain {
	margin-bottom: 10px;
	margin-top: 25px;
}

.clear {
	margin-bottom: 35px;
}

