body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
	position: relative;
	outline:2px solid #000;
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	margin:auto;
	min-height:960px;
	max-width:960px;
	overflow:hidden;
	
}

.grid {
	outline:1px solid #000;
	background: white;
	flex-grow: 1;
}

/* CSS */
button {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

button:active,
button:hover,
button:focus {
  outline: 0;
}


button:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

button:active:hover,
button:focus:hover,
button:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.playAgain {
	margin-bottom: 10px;
	margin-top: 25px;
}

.clear {
	margin-bottom: 35px;
}

